@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overscroll-behavior: auto;
  overflow-x: auto;
  /* overflow-y: auto; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3d56;
}

.capitalize {
  text-transform: capitalize;
}
